<h1>Friends List Goes Here!</h1>

//ejs part that loop through each name , aka firends
<% friends.forEach(function(friend){ %>
  <li><%= friend %></li>
<% }); %>

//a form  that its methos is POST, and it posts it on /addfriend
//the new added name would go under the "newfriend" name and it would be used in the post request on the server side
<form action="/addfriend" method="POST">
    <input type="text" name="newfriend" placeholder="name">
    <button>I made a new friend!</button>
</form>
